body
{
  background: AliceBlue;
  font-family: Arial, Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
h1
{
  color: black;
  text-align: center;
  width: 100%;
  display: block;
}
h1:hover
{
  color: black;
  text-align: center;
  width: 100%;
  display: block;
}
.assign
{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: white;
}
.assign img
{
  width: 200px;
  padding 10px;
}
a
{
  text-decoration: none;
  color: midnightblue;
}
.assign img
{
padding: 10px;
  border:2px solid midnightblue;
}
.assign
{
  width:20%;
  box-shadow: 8px 8px midnightblue;
  display:block;
  border-radius: 20px;
}